{% extends "_base.html" %}
{% load custom_filters %}

{% block title %} {{ book.title }} {% endblock %}

{% block content %}
    <section class="bg-white dark:bg-gray-900">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">{{ book.title }}</h1>
                <p class="max-w-2xl mb-2 font-light text-gray-500 lg:mb-2 md:text-lg lg:text-xl dark:text-gray-400">{{ book.subtitle }}</p>

                <p class="max-w-2xl mb-2 font-light text-green-500 lg:mb-2 md:text-lg lg:text-xl dark:text-green-400">Authors :
                    <span class="max-w-2xl mb-2 font-light text-gray-500 lg:mb-2 md:text-lg lg:text-xl dark:text-gray-400">
                        {{ book.authors }}
                    </span>
                </p>

                <p class="max-w-2xl mb-2 font-light text-green-500 lg:mb-2 md:text-lg lg:text-xl dark:text-green-400">Publisher :
                    <span class="max-w-2xl mb-2 font-light text-gray-500 lg:mb-2 md:text-lg lg:text-xl dark:text-gray-400">
                        {{ book.publisher }}
                    </span>
                </p>

                <p class="max-w-2xl mb-2 font-light text-green-500 lg:mb-2 md:text-lg lg:text-xl dark:text-green-400">Date :
                    <span class="max-w-2xl mb-2 font-light text-gray-500 lg:mb-2 md:text-lg lg:text-xl dark:text-gray-400">
                        {{ book.published_date }}
                    </span>
                </p>

                <p class="max-w-2xl mb-2 font-light text-green-500 lg:mb-2 md:text-lg lg:text-xl dark:text-green-400">Categories :
                    <span class="max-w-2xl mb-2 font-light text-gray-500 lg:mb-2 md:text-lg lg:text-xl dark:text-gray-400">
                        {{ book.categories }}
                    </span>
                </p>

                <p class="max-w-2xl mb-4 font-light text-green-500 lg:mb-8 md:text-lg lg:text-xl dark:text-green-400">Identifiers :
                    <span class="max-w-2xl mb-2 font-light text-gray-500 lg:mb-2 md:text-lg lg:text-xl dark:text-gray-400">
                        {{ book.industry_identifiers }}
                    </span>
                </p>

                <a href="{% url 'generate_download_link' book.id %}" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:focus:ring-green-900">
                    Generate Download Link
                    <svg class="ms-2 w-4 h-4 text-white-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"></path>
                        <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path>
                    </svg>
                </a>

                <a href="https://books.google.com/books?id={{ book.id }}&hl=&source=gbs_api" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    Preview
                    <svg class="ms-2 w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
                        <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"></path>
                    </svg>
                </a>

                {% if user.is_authenticated %}
                    {% if not book|in_user_favorites:user %}
                    <a href="{% url 'add_to_favorites' book.id %}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                        Add To Favorites
                        <svg class="ms-2 w-4 h-4 text-red-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 19">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z"></path>
                        </svg>
                    </a>
                    {% else %}
                    <a href="{% url 'remove_from_favorites' book.id %}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-red-900 border border-red-300 rounded-lg hover:bg-red-100 focus:ring-4 focus:ring-red-100 dark:text-white dark:border-red-700 dark:hover:bg-red-700 dark:focus:ring-red-800">
                        Remove From Favorites
                        <svg class="ms-2 w-4 h-4 text-red-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                            <path d="M17.947 2.053a5.209 5.209 0 0 0-3.793-1.53A6.414 6.414 0 0 0 10 2.311 6.482 6.482 0 0 0 5.824.5a5.2 5.2 0 0 0-3.8 1.521c-1.915 1.916-2.315 5.392.625 8.333l7 7a.5.5 0 0 0 .708 0l7-7a6.6 6.6 0 0 0 2.123-4.508 5.179 5.179 0 0 0-1.533-3.793Z"></path>
                        </svg>
                    </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                <div class="book mx-auto">
                    <div class="book__cover">
                        <img class="book__cover-img" src="{{ book.thumbnail }}" alt="{{ book.title }}">
                    </div>
                    <div class="book__pages"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
      <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
          <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3 dark:text-white">
              <div class="flex flex-col items-center justify-center">
                  <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{ book.dimensions.height }}</dt>
                  <dd class="font-light text-green-500 dark:text-green-400">Height</dd>
              </div>
              <div class="flex flex-col items-center justify-center">
                  <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{ book.dimensions.width }}</dt>
                  <dd class="font-light text-green-500 dark:text-green-400">Width</dd>
              </div>
              <div class="flex flex-col items-center justify-center">
                  <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{ book.dimensions.thickness }}</dt>
                  <dd class="font-light text-green-500 dark:text-green-400">Thickness</dd>
              </div>
          </dl>
      </div>
    </section>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-2 mx-auto">
        <div class="text-center mb-5">
          <h1 class="sm:text-2xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Description</h1>
          <p class="text-base leading-relaxed mx-auto">{{ book.description|safe }}</p>
        </div>
      </div>
    </section>

    {% if request.user.is_authenticated %}
        {% include 'core/components/comments.html' with comments=book|book_comments book=book %}
    {% endif %}
{% endblock %}